<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issues</title>
</head>
<body>
<form method="POST" action="/add1">
    <p><h4>New Issue:</h4>> <input type="text" name="issue_id"> <input type="text" name="time"> <input type="text" name="location">
    <input type="text" name="description"> <input type="submit" value="Add"></p>
</form>
<h1>{{Name}}</h1>
{% import "table.html" as T %}
{{ T.make_table(tophat) }}
<p><a href = "/comments"> View Comments!</a>
<p><a href="/Back">Back</a></p>



</body>
</html>