<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<form method="POST" action="/add2">
    <p><h3>New Comments:</h3>> <h4>Comment_id</h4>><input type="text" name="comment_id"><h4>Contents</h4>><input type="text" name="content"><h4>Time</h4>><input type="text" name="time">
    <h4>Issue_id</h4>><input type="text" name="issue_id"><input type="submit" value="Add"></p>
</form>
<h1>{{Name}}</h1>
{% import "table.html" as T %}
{{ T.make_table(tophat) }}

<p><a href="/Back">Back</a></p>




</body>
</html>