<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Take Events</title>
</head>
<body>
<form method="POST" action="/add3">
    <p><h3>Take an Event:</h3>> <h4>take_id</h4>><input type="text" name="take_id"><h4>uid</h4>><input type="text" name="uid"><h4>Event_id</h4>><input type="text" name="event_id">
    <input type="submit" value="Add"></p>
</form>
<h1>{{ name }}</h1>
{% import "table.html" as T %}
{{ T.make_table(tophat) }}
<p><a href="/Back">Back</a></p>



</body>
</html>